// Place all the styles related to the main controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#map, #list {
  float: left;
  width: 45%;
  .show {
    color: red;
  }
}

#map {
  height: 500px;
  margin-right: 20px;
}